body {
  background-image: url(../images/pinkdust.png);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
h1 {
  text-align: center;
}

main {

  background-image: url(../images/pinkdust.png);
  width: 1480px;
  margin: 50px auto;
  border: hidden;
  overflow: hidden;
  
}

#films {

  scroll-behavior: auto;
  background:transparent;
  background-image: url(../images/email-pattern.png);
  background-size: 100%;
  background-repeat : repeat;
  float: left;
  height: 600px;
  width: 450px;
  margin: 50px 0px 50px 20px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 10px;
  
}

#films-list {

  overflow: auto;
  height: 140px;
  
}

#films-info {

  background:transparent;
  background-image: url(../images/email-pattern.png);
  background-size: 100%;
  background-repeat : repeat;
  background-color: transparent;
  float: left;
  overflow: hidden;
  width: 450px;
  height: 600px;
  margin: 50px 0px 50px 20px;
  border: none; 
  border: 3px solid #fff;
  border-radius: 10px;

}

.filminformation {

  display: block;
  text-align: center;
    
}

#my-Films {
  
  background:transparent;
  border: 3px solid #fff;
  border-radius: 10px;
  background-image: url(../images/email-pattern.png);
  background-size: 100%;
  background-repeat : repeat;
  float: left;
  width: 450px;
  height: 600px;
  margin: 50px 0px 50px 20px;
    
}

#my-films-list {

  overflow: auto;
  height: 400px;

}

#buttons {

  position: relative;
  top: 65px;

}

.remove, .removeMy {

  background: url(../images/recyclebin.png);
  background-size: 90%;
  background-repeat : no-repeat;
  width: 18px;  height: 23px;
     
}

